@{
    ViewData["Title"] = "Welcome Page";
}

<div>
    <h1 class="display-4">Welcome Page</h1>
    <p>Manage my <a asp-controller="PartyManager" asp-action="List">parties</a>!</p> or <a asp-controller="PartyManager" asp-action="Add">add a new party</a>
</div>
